<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <th:block th:include="../templates/header"></th:block>
    <title>Inasistencias</title>
   
     
    
</head>
      <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<body>
    <div th:if="${not #lists.isEmpty(inasistencias)}">
        
       <div class="row">
        
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
           <h3 align="center">Listado de Inasistencias</h3>
      
        <table class="table table-striped">
            <tr>
                <th>Codigo inasistencia</th>
                <th>Nombre Empleado</th>
                <th>Motivo Inasistencia</th>
                <th>Justificacion</th>
                <th>Fecha Desde</th>
                <th>FechaHasta</th>
               
               <th>Acciones</th>
                
            </tr>
            <tr th:each="inasistencia : ${inasistencias}">
                <td th:text="${inasistencia.codigoinasistencia}">Codigo</td>
                <td th:text="${inasistencia.codigoempleado.nombreempleado}">Nombre</td>
                <td th:text="${inasistencia.motivoinasistencia}">Motivo</td>
                <td th:text="${inasistencia.constanciainasistencia}">Justificacion</td>
                <td th:text="${inasistencia.fechadesdeinasistencia}"> Desde</td>
                <td th:text="${inasistencia.fechahastainasistencia}"> Hasta</td>
              
                
                <td>
                    <a th:href="${'./show/' + inasistencia.codigoinasistencia}" class="btn btn-info">Mostrar</a>
                <a th:href="${'./edit/' + inasistencia.codigoinasistencia}" class="btn btn-success">Editar</a>
                 <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${inasistencia.codigoinasistencia} + '\');'" >Eliminar</a>
               <!--<td><a th:href="${'./delete/' + capacitacion.codigocapacitacion}" class="btn btn-danger">Delete</a></td>-->
                    <!--<td><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${capacitacion.codigocapacitacion} + '\');'" >Delete</a></td>-->  
                </td>
            </tr>
        </table>
            
        </div>
            <div class="col-md-12">
                    <th:block th:include="../templates/footer"></th:block>
                </div>
    </div>  
    </div>
   
   
   <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../inasistencias/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
     <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../inasistencias/';
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
</body>
</html>