<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SISADMRH</title>
     <th:block th:include="../templates/header"></th:block> 
</head>
<body>
<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
    <h2>Datos de Rol</h2>
        <div>
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">codigo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${rol.codigorol}">Rol Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${rol.nombrerol}">Nombre</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">descripcion:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${rol.descripcionrol}">descripcion</p>
                    </div>
                </div>
                
            </form>
    </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    $(document).ready(function () {
    if([[${lol}]]===0){
       swal("Exito!", "Registro agregado correctamente", "success");
    }
    
    if([[${lol}]]===1){
       swal("ERROR!", "Ocurrio un error en el proceso", "error");
    }
    });
</script>
</html>