<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SISADMRH-Listado de Empleados</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
<!--<div class="container">-->
    
    <div th:if="${not #lists.isEmpty(empleados)}" >
         <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
            
        <!--</div>-->
        <h3 align="center">Listado de Empleados</h3>
        <table class="table table-striped">
            <tr >
                <th>Codigo de Empleado</th>
                <th>Nombre de  Empleado</th>
                <th>Fecha de Nacimiento</th>
                <th>DUI</th>
                <th>NIT</th>
                <th>Email</th>
            </tr>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.codigoempleado}">codigoempleado</td>
                <td th:text="${empleado.nombreempleado}">nombreempleado</td>
                <td th:text="${empleado.fechanacimientoempleado}">fechanacimientoempleado</td>                
                <td th:text="${empleado.duiempleado}">duiempleado</td>
                <td th:text="${empleado.nitempleador}">nitempleador</td>
                <td th:text="${empleado.emailempleado}">emailempleado</td>
                <td><a th:href="${'./show/' + empleado.codigoempleado}" class="btn btn-default">Mostrar</a></td>
                <td><a th:href="${'./edit/' + empleado.codigoempleado}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'./delete/' + empleado.codigoempleado}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
        </div>
   
<!--</div>-->
<div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
 </div>
   </div> 
</body>
</html>