<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Nuevo usuario</title>
   <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<div class="row">
      <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-9">
          <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/images.jpeg}"/>
                    </div>
        <h3 align="center">Detalle de Usuarios</h3>
    <div>
        <form class="form-horizontal" th:object="${usuario}" th:action="@{../usuario}" method="post" >
            <input type="hidden" th:field="*{codigousuario}"/>
            <input type="hidden" th:field="*{nombreusuario}"/>
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Codigo de Usuario:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{codigousuario}"/>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de Usuario:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required="true" size="50" maxlength="50" th:field="*{nombreusuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contraseña de Usuario:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required="true" size="100" maxlength="50" th:field="*{contraseniausuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirmacion de Contraseña:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control numeros " required="true" size="11" maxlength="11" th:field="*{controlcontrasenia}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control numeros" size="11" maxlength="11" th:field="*{estadousuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha Ingreso:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{fechaingreso}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha de caducidad:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fechacaducidad}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha de baja:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fechabaja}"/>
                </div>
            </div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
        <div class="btn-group" data-toggle="buttons">
            <button type="submit" class="btn btn-default">Agregar</button>
                <button type="submit" class="btn btn-default">Cancelar</button>
        </div>
    </div>
</div>

     

<!--            <div class="row">
                <button type="submit" class="btn btn-default">Agregar</button>
                <button type="submit" class="btn btn-default">Cancelar</button>
            </div>
            -->
        </form>
    </div>
     </div>
</div>

</body>
 <script>
    $(document).ready(function () {
        $('#fechaingreso').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('#fechacaducidad').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#fechabaja').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../usuarios/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 


</html>
