<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Usuarios</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
<div class="container">
    e aqui
    <div th:if="${not #lists.isEmpty(usuarios)}">
        <h2>Todos los Usuarios</h2>
        <table class="table table-striped">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>contra</th>
                <th>control contra</th>
                <th>estado</th>
                <th>f ingreso </th>
                <th>f caducidad</th>
                <th>f baja</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.codigousuario}">Codigo</td>
                <td th:text="${usuario.nombreusuario}">Nombre</td>
                <td th:text="${usuario.contraseniausuario}">contraseña</td>
                <td th:text="${usuario.controlcontrasenia}">control</td>
                <td th:text="${usuario.estadousuario}">estado</td>
                <td th:text="${usuario.fechaingreso}">fecha ingreso</td>
                <td th:text="${usuario.fechacaducidad}">fecha caducidad</td>
                <td th:text="${usuario.fechabaja}">fecha baja</td>
                <td><a th:href="${'./show/' + usuario.codigousuario}" class="btn btn-default">Mostrar</a></td>
                <td><a th:href="${'./edit/' + usuario.codigousuario}" class="btn btn-default">Edit</a></td>
                 <td><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${usuario.codigousuario} + '\');'" >Delete</a></td>
                <!--<td><a th:href="${'./delete/' + usuario.codigousuario}" class="btn btn-danger">Delete</a></td>-->
            </tr>
        </table>
    </div>
</div>
</body>
</html>