<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Nuevo usuario</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<div class="container">
    <h2>Usuario Details</h2>
    <div>
        <th:block th:include="header :: header"></th:block> 
        <form class="form-horizontal" th:object="${usuario}" th:action="@{/usuarios/}" method="post">
            <input type="hidden" th:field="*{codigousuario}"/>
            <input type="hidden" th:field="*{nombreusuario}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{codigousuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nombreusuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{contraseniausuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{controlcontrasenia}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{estadousuario}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fechaingreso}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fechacaducidad}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fechabaja}"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
