<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Niveles escolares</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<div class="container">
    
    
    
    <div th:if="${not #lists.isEmpty(nivelescolaridades)}">
        <h3 align="center" >Lista de Niveles Escolares</h3>
        <table class="table table-striped">
            <tr>
                <th>Centro Educativo</th>
                <th>anios aprobados</th>
                  <th>Estudios realizados</th>
                 <th>Finalizado</th>
                  <th>titulo obtenido</th>
                   <th>Pais del nivel escolar</th>
                   <th>Fecha desde</th>
                   <th>Fecha hasta</th>
                   <th>Acciones</th>
                   
                
            </tr>
            <tr th:each="nivelescolaridad : ${nivelescolaridades}">

                <td th:text="${nivelescolaridad.centroeducativo}">Centro educativo</td>
                <td th:text="${nivelescolaridad.aniosaprobados}">Anos aprobados</td> 
                <td th:text="${nivelescolaridad.estudiorealizado}">Estudios</td> 
                <td th:text="${nivelescolaridad.finalizado}">finalizado</td>
                <td th:text="${nivelescolaridad.tituloobtenido}">Titulo Obtenido</td>
                <td th:text="${nivelescolaridad. paisnivelescolaridad}">Pais nivel escolaridad</td>
                <td th:text="${#dates.format(nivelescolaridad.fechadesdenivelescolaridad, 'dd-MMM-yyyy')}">fechadesdenivelescolaridad</td>
                <td th:text="${#calendars.format(nivelescolaridad.fechahastanivelescolaridad, 'dd-MMM-yyyy')}">fechahastanivelescolaridad</td>
                
                <td>
                 <a th:href="${'./show/' + nivelescolaridad.codigonivelnivelescolaridad}" class="btn btn-default">Mostrar</a>
                <a th:href="${'./edit/' + nivelescolaridad.codigonivelnivelescolaridad}" class="btn btn-default">Edit</a>
                <td><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${nivelescolaridad.codigonivelnivelescolaridad} + '\');'" >Delete</a></td>
                <!--<a th:href="${'./delete/' + nivelescolaridad.codigonivelnivelescolaridad}" class="btn btn-danger">Delete</a>-->
                </td>
            </tr>
        </table>
    </div>
</div>
     <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../roles/';
       }); 
}
    if([[${msg}]]===0){
       swal({
           
                title: "Exito!",
                text: "Registro ingresado correctamente",
                type: "success",
                icon: "success",
       }) 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
</body>
</html>