<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SISADMRH</title>
     <th:block th:include="../templates/header"></th:block>
 

  
</head>
<body>
 <div class="row">
        <div class="col-md-3">
         <th:block th:include="../templates/menu"></th:block>
    </div> 
        <div class="col-md-8">
            
           <h3>Datos de Usuario</h3>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
              <label class="col-sm-2 control-label">Codigo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.codigonivelnivelescolaridad}">codigo nivel escolaridad</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Centro Educativo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.centroeducativo}">Centro educativo</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Años Aprobados:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.aniosaprobados}">anios aprobados</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Estudios Realizados:</label>
                    <div class="col-sm-10">
                        <!-- aqui presenta probremas de parceo en estudios realizados-->
                   <!--<p class="form-control-static" th:text="${nivelescolaridad.estudiorealizado">estudiorealizado</p>-->
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Finalizado:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.finalizado}">Finalizado</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Titulo Obtenido:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.tituloobtenido}">titulo obtenido</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">País Nivel Escolardiad:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${nivelescolaridad.paisnivelescolaridad}">Pais </p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha Desde:</label>
                    <div class="col-sm-10">                      <p class="form-control-static" th:text="${#dates.format(nivelescolaridad.fechadesdenivelescolaridad, 'dd-MMM-yyyy')}">Fecha desde</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha Hasta:</label>
                    <div class="col-sm-10">
                       <p class="form-control-static" th:text="${#calendars.format(nivelescolaridad.fechahastanivelescolaridad, 'dd-MMM-yyyy')}">fecha hasta</p>
                    </div>
                </div>    
                
            </form>
                <div class="col-md-12">
            <div class="row" align="center">
                <button type="submit" class="btn btn-default"><a href="#" th:href="@{/nivelescolaridades/}">Regresar</a></button>
                
            </div>
    </div>
    </div> 
        </div>
     <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
    </div>
    
    


</body>
</html>