<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">

        <title>Crear Evaluacion de Capacitacion</title>
      
    <th:block th:include="../templates/header"></th:block>
</head>

<body>

<div class="contenedorizq"><label  >pnt_evca</label> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div> 
                            
        <div class="col-md-8">
            <h3 align="center">Crear Evaluacion  de Capacitacion</h3>
            <div>
 
                <form class="form-horizontal" th:object="${evaluacioncapacitacion}" th:action="@{../evaluacioncapacitacion}" method="post">       

                    <div class="col-md-6">


<div class="form-group">
                <label class="col-sm-5 control-label">Capacitacion:</label>
                <div class="col-sm-7">
                    <select class="form-control" th:field="*{codigocapacitacion.codigocapacitacion}" >
                         <option value="">-- Seleccione la Capacitacion --</option>
                                <option th:each="c:${capacitaciones}" th:value="${c.codigocapacitacion}" th:text="${c.nombrecapacitacion}"></option>
                            </select>
                    <!--<input type="number" class="form-control" th:field="*{codigocapacitacion.codigocapacitacion}"/>-->
                </div>
            </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Lugar de la Capacitacion(*):</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" max="100" maxlength="100" required="true" th:field="*{lugarcapacitacion}"/>
                            </div>
                        </div>

                        <!--                        <div class="form-group">
                                                    <label class="col-sm-5 control-label">Fecha(*):</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" th:field="*{nombrepuesto}"/>
                                                    </div>
                                                </div>-->


                        <div class="form-group">
                            <label class="col-sm-5 control-label">Hora(*):</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" th:field="*{horaevualuacioncapacitacion}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Dominio del tema(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{categoriapuesto}"/>-->
                                <select class="form-control" name="dominiotema" >
                                    <option>Si</option>
                                    <option>No</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Habilidades de Comunicacion(*):</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="habilidadcomunicacion" >
                                    <option>Si</option>
                                    <option>No</option>


                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Llena sus Espectativas(*):</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="espectativa" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Contenido se Desarrollo con Claridad(*):</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="claridadtema" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Aclara dudas con precision(*):</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="alclaradudas" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Mantiene el Interes del Tema(*):</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="interestema" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Satisface en el tema(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{nivelpuesto}"/>-->
                                <select class="form-control" name="satifacciondetema" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Comprension del tema(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="comprenciondetema" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Planeacion del tiempo(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="planeaciontiempo" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Distribucion del Tiempo(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="distribuciontiempo" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Contenido Claro(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="contenidoclaro" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">El contenido Es aplicable a su trabajo(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="contenidoaplicadotrabajo" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Satisfecho con el contenido(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="satisfechocontenido" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Es necesaria la Capacitacion(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="necesariocapacitacion" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">El equipo tecnologico es el adecuado(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="equipotecnologico" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Material Usado fue el apropiado(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="materialutilizado" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Tiempo Capacitacion fue optimo(*):</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="tiempocapacitacionoptimo" >
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Puntualidad Fecha y Hora(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" name="puntualidad" >
                                    <!--<option> </option>-->
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Comentario o Sugerencia(*):</label>
                            <div class="col-sm-7">
                                
                                <input type="text" class="form-control" max="100" maxlength="100" required="true" th:field="*{comentario}"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row" align="center">
                            <button type="button" class="btn btn-default"><a href="#" th:href="@{/evaluaciones/}">Regresar</a></button>
                            <button type="submit" class="btn btn-default">Guardar</button>
                            <button type="reset" class="btn btn-default">Limpiar</button>
                        </div>
                    </div>
                </form>
         
            </div>


        </div>
    </div>
    <div class="col-md-12">
        <th:block th:include="../templates/footer"></th:block>

    </div>  
    <script th:inline="javascript">
        $(document).ready(function () {
        if ([[${msg}]] === 0){
        swal({
        title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
        }).then(function() {
        location.href = '../evaluacioncapacitaciones/';
        });
        }

        if ([[${msg}]] === 1){
        swal({
        title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
        });
        }
        });
    </script>    
    <script>
        $(document).ready(function () {
        $('#horaevualuacioncapacitacion').datepicker({
        dateFormat: 'yy-mm-dd'
        });
        $('#fechacapacitacionhasta').datepicker({
        dateFormat: 'yy-mm-dd'
        });
        });
    </script>
</body>	

</html>