<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <script type="text/javascript" th:src="@{/validacion_controladores.js}"></script>
   <script type="text/javascript" th:src="@{/validacion_controladores2.js}"></script>
   <script type="text/javascript" th:src="@{/SweetAlert.min.js}"></script>
   <script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
  
<head lang="en">

    <title>Nueva Mision</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
    <div class="row">
        <div class="col-md-3">
         <th:block th:include="../templates/menu"></th:block>
    </div> 
        <div class="col-md-8">
             <h3 align="center" >Llene El Formulario de Misiones</h3>
    <div>
        <form class="form-horizontal" th:object="${mision}" th:action="@{../mision}" method="post">
<!--          <input type="hidden" th:field="*{codigocomite}"/>-->
            <!--  <input type="hidden" th:field="*{nombrecomite}"/>-->
          
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de Mision:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" size="50" maxlength="50" required="true" placeholder="Escriba El nombre de Mision"  th:field="*{nombremision}"/>
                </div>
            </div>
            
                        <div class="form-group">
                <label class="col-sm-2 control-label">Tipo Mision:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" size="50" maxlength="50" required="true" placeholder="Tipo Mision"  th:field="*{tipomision}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Responsable del Comite:</label>
                                     <div class="col-sm-10">
                                         <select class="form-control" th:field="*{codigoempleado.codigoempleado}" >
                                <option th:each="c:${empleados}" placeholder="Seleccione El Responsable del Comite" th:value="${c.codigoempleado}" th:text="${c.nombreempleado}"></option>
                            </select>
               <!--<input type="number" class="form-control" th:field="*{codigoempleado.codigoempleado}"/>-->
                                          </div>
                                </div>

            
            <div class="form-group">
                <label class="col-sm-2 control-label ">Objetivo Mision:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"required="true" size="100" maxlength="100" placeholder="Escriba Objetivo Mision" th:field="*{objetivomision}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Responsable del Gasto:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba El Responsable del Gasto"  th:field="*{responsablegasto}"/>
                </div>
                
            </div>
          
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Viaticos:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control num_decimal" required="true" placeholder="Escriba los viaticos"  th:field="*{viaticos}"/>
                </div>
            </div>
            
             <div class="form-group">
                <label class="col-sm-2 control-label">Gastos de Viaje:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control num_decimal" required="true" placeholder="Ingrese los gastos de viaje"  th:field="*{gastoviaje}"/>
                </div>
            </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Gastos Terminales:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control num_decimal" required="true" placeholder="Ingrese los gastos Termianles"  th:field="*{gastoterminales}"/>
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha Salida(Desde):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  placeholder="YYYY-MM-DD" required="true" th:field="*{fechasalidamision}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha Regreso Mision(Hasta):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control "  placeholder="YYYY-MM-DD" required="true" th:field="*{fecharegresomision}"/>
                </div>
            </div>
          <div class="form-group">
                <label class="col-sm-2 control-label">Pais:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba El Pais Destino"  th:field="*{paisdestino}"/>
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba La Ciudad Destino"  th:field="*{ciudad}"/>
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Organismo Patrocinador:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba El Nombre del Patrocinador"  th:field="*{organismopatrocinador}"/>
                </div>
                
            </div>
            
             <div class="form-group">
                <label class="col-sm-2 control-label">Organismo Que Invita:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba El Nombre del Patrocinador"  th:field="*{organismoinvita}"/>
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha De Acuerdo):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control "  placeholder="YYYY-MM-DD" required="true" th:field="*{fechaacuerdomision}"/>
                </div>
            </div>
            
            
              <div class="form-group">
                <label class="col-sm-2 control-label">Numero de acuerdo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control numeros" required="true" placeholder="Escriba solo Numeros Positivos"  th:field="*{numeroacuerdo}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Boleto :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="50" maxlength="50" required="true" placeholder="Escriba La Boleto"  th:field="*{boleto}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo Transporte:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " max="30" maxlength="30" required="true" placeholder="Escriba El Tipo Transporte"  th:field="*{boleto}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Cantidad Dias:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control numeros" required="true" placeholder="Escriba la Cantidad de Dias"  th:field="*{cantidaddia}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Cantidad Meses:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control numeros" required="true" placeholder="Escriba la Cantidad de Meses"  th:field="*{cantidadmeses}"/>
                </div>
            </div>
<!--            <div class="row">
                
                <button type="submit" class="btn btn-default">Agregar</button>
            </div>-->
<div class="col-md-12">
            <div class="row" align="center">
                <button type="button" class="btn btn-default"><a href="#" th:href="@{/comites/}">Regresar</a></button>
                <button type="submit" class="btn btn-default">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar</button>
            </div>
    </div>
        </form>
    </div>

            
        </div>
    </div>
   </div>
  <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>  

   <script>
    $(document).ready(function () {
        $('#fechadesdecomite').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('#fechahastacomite').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
    
</script>

<script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../comites/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 

		
                
</body>	
</html>