<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SISADMRH</title>
     <th:block th:include="../templates/header"></th:block>
 

  
</head>
<body>
<div class="container">
    <h2>Detalle de Beneficios</h2>
        <div>
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">codigo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.codigobeneficio}">Usuario Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.nombrebeneficio}">Nombre</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">descripcion:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.descripcionbeneficio}">descripcion</p>
                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha de Inicio de Beneficio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.fechainiciobeneficio}">descripcion</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha Fin de Beneficio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.fechafinalizarbeneficio}">descripcion</p>
                    </div>
                </div>
                
            </form>
             <div class="col-md-12">
                    <div class="row" align="center">
                        <button type="button" class="btn btn-default"><a href="#" th:href="@{/beneficios/}">Regresar</a></button>

                    </div>
                </div>
    </div>
</div>

</body>
</html>