<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Crear beneficio</title>
  <th:block th:include="../templates/header"></th:block>
  
  </head>
  
<body>
   
     
       <div class="contenedorizq"> <label  >pnt_crbe</label> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-9">
          <div class="row text-center">
                        <img src="../../static/image/beneficios.png" width="200" th:src="@{/image/beneficios.png}"/>
                    </div>
        <h3 align="center">Formulario de Beneficios</h3>
  
  
    <div>
        <form class="form-horizontal" th:object="${beneficio}" th:action="@{../beneficio}" method="post">
            <input type="hidden" th:field="*{codigobeneficio}"/>
            <input type="hidden" th:field="*{nombrebeneficio}"/>
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Codigo de Beneficio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{codigobeneficio}"/>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de Beneficio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required="true" size="30" maxlength="30" th:field="*{nombrebeneficio}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripcion Beneficio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" size="100" maxlength="100" required="true" th:field="*{descripcionbeneficio}"/>
                </div>
            </div>
<div class="form-group">
                <label class="col-sm-2 control-label">Fecha de inicio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  required="true" th:field="*{fechainiciobeneficio}"/>
                </div>
            </div>

<div class="form-group">
                <label class="col-sm-2 control-label">Fecha de Finalizacion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required="true" th:field="*{fechafinalizarbeneficio}"/>
                </div>
            </div>
            

<div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
        <div class="btn-group" data-toggle="buttons">
            <button type="submit" class="btn btn-default">Agregar</button>
                <button type="submit" class="btn btn-default">Cancelar</button>
        </div>
    </div>
</div>

<!--            <div class="row">
                <button type="submit" class="btn btn-default">Agregar</button>
            </div>-->
        </form>
    </div>
</div>
    </div>

</body>
<script>
    $(document).ready(function () {
        $('#fechainiciobeneficio').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('#fechafinalizarbeneficio').datepicker({
            dateFormat: 'yy-mm-dd'
        });
       
    });
</script>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../beneficios/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
</html>
