<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores2.js}"></script>
     

    </head>

    <body>
        <!--<div class="container">-->
            <div th:fragment="header">
                <div class="jumbotron row">
                     <div  class="col-md-3">
                         <div class="row text-center">
                        <img src="../../static/image/gob.png" width="200" th:src="@{/image/gob.png}"/>
                    </div>
                   </div>
                     <div class="col-md-6">
                         <div class="row text-center">
                        <div class="">
                            <h2>Ministerio de Justicia y Seguridad Publica</h2>
                            <h2>Departamento de Recursos Humanos</h2>
                            <h2>SISADMRH</h2>
                        </div>
                    </div>
                   </div>
                     <div class="col-md-3">
                         <div class="row text-center">
                        <img src="../../static/image/mjsp.png" width="200" th:src="@{/image/mjsp.png}"/>
                    </div>
                   </div>
                    <div class="celdauser"> <b th:if="${messageuser != null}" th:utext="${messageuser}" ></b><br>
                    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Cerrar Session</a></div>
                    
                    <!--
                    <div class="row text-center">
                        <img src="../../static/image/UESlogo.jpg" width="100" th:src="@{/image/UESlogo.jpg}"/>
                    </div>-->
                </div>
                <!--
<nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                            <ul class="nav navbar-nav">
                                <li><a href="#" th:href="@{/usuarios/}">Usuarios</a></li>
                                <li><a href="#" th:href="@{/usuarios/new/usuario}">Crear Usuario</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><a href="#" th:href="@{/roles/}">ROLES</a></li>
                                <li><a href="#" th:href="@{/roles/new/rol}">Crear Rol</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><a href="#" th:href="@{/beneficios/}">BENEFICIOS</a></li>
                                <li><a href="#" th:href="@{/beneficios/new/beneficio}">Crear BENEFICIO</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><a href="#" th:href="@{/estados/}">Estados</a></li>
                                <li><a href="#" th:href="@{/estados/new/estado}">Crear estado</a></li>
                                
                                <li><a href="#" th:href="@{/nivelescolaridades/}">Niveles escolares</a></li>
                                <li><a href="#" th:href="@{/nivelescolaridades/new/nivelescolaridad}">Crear Nivel escolar</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>-->
                
<!--                 <nav class="navbar navbar-inverse nav flex-column">
                    <div class="container-fluid">

                      <ul class="nav navbar-nav ">
                        <li class="active"><a class="navbar-brand" href="#" th:href="@{/}">Inicio</a></li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuario
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/usuarios/}">Consultar Usuarios</a></li>
                                <li><a href="#" th:href="@{/usuarios/new/usuario}">Crear Usuario</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Roles
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/roles/}">Consultar Roles</a></li>
                                <li><a href="#" th:href="@{/roles/new/rol}">Crear Rol</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Puesto
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                               <li><a href="#" th:href="@{/puestos/}">Consultar Puestos</a></li>
                               <li><a href="#" th:href="@{/puestos/new/puesto}">Crear Puesto</a></li>
                               <li><a href="#" th:href="@{/puestos/reporte/puesto}">Reporte Puestos a Caducar</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </div>
                </nav>-->
              
                
                
            </div>
        <!--</div>-->


     


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

       
    </body>
</html>
