<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="screen"/>
        

       
    </head>

    <body>
        <!--<div class="container">-->
            <div th:fragment="menu">
               
                <nav class="sidebar-nav navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			
                                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Menu</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				
                            
                                <li class="active"><a  href="#" th:href="@{/}">Inicio<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				
                            
                          
                                
                               <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
					
                                        <ul class="dropdown-menu forAnimate" role="menu">
						 <li><a href="#" th:href="@{/usuarios/}">Generar Reportes</a></li>
                                                 <li><a href="#" th:href="@{/usuarios/new/usuario}">Crear Usuario</a></li>
                                                 <li><a href="#" th:href="@{/roles/}">Consultar Roles</a></li>
                                                <li><a href="#" th:href="@{/roles/new/rol}">Crear Rol</a></li>
                                              
					</ul>
                                        
                                        
                               
				</li> 
                                
                                <li ><a href="#">Carga de Archivos Fuentes<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Beneficios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/beneficios/}">Consultar Beneficios</a></li>
                                                <li><a href="#" th:href="@{/beneficios/new/beneficio}">Crear Beneficio</a></li>
                                                <li><a href="#" th:href="@{/beneficios/report/}">Reporte de Beneficios</a></li>
					</ul>
				</li>
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Cuadros Directivos <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/cuadrodirectivos/}">Consultar Cuadros Directivos</a></li>
                                                <li><a href="#" th:href="@{/cuadrodirectivos/new/cuadrodirectivo}">Crear Cuadros Directivos</a></li>
                                                <li><a href="#" th:href="@{/cuadrodirectivos/report/}">Reporte de Cuadro Directivo</a></li>
					</ul>
				</li>
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
                                            <li><a href="#" th:href="@{/capacitaciones/buscar/}">Buscar Capacitaciones</a></li>
						<li><a href="#" th:href="@{/capacitaciones/}">Consultar Capacitaciones</a></li>
                                                <li><a href="#" th:href="@{/capacitaciones/new/capacitacion}">Crear Capacitaciones</a></li>
                                                <li><a href="#" th:href="@{/capacitaciones/report/}">Reporte de Capacitaciones</a></li>
					</ul>
				</li>
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Capacitador <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
                                             <li><a href="#" th:href="@{/capacitadores/buscar/}">Buscar Capacitador</a></li>
						<li><a href="#" th:href="@{/capacitadores/}">Consultar Capacitador</a></li>
                                                 <li><a href="#" th:href="@{/capacitadores/new/capacitador}">Crear Capacitador</a></li>
                                                 <li><a href="#" th:href="@{/capacitadores/report/}">Reporte Capacitador</a></li>
                                        </ul>
				</li>
				
                                

                                 <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Costos de capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/costocapacitaciones/}">Consultar Costo Capacitaciones</a></li>
                                                 <li><a href="#" th:href="@{/costocapacitaciones/new/costocapacitacion}">Crear Costo Capacitacion</a></li>
                                                  <li><a href="#" class="dropdown">Crear Costo Capacitacion2</a>
                                                    <ul class="dropdown-menu forAnimate" >
                                                      <li><a href="#" th:href="@{/costocapacitaciones/new/costocapacitacion}">Crear Costo Capacitacion2</a></li>
                                                    </ul>
                                                 </li>
<!--                                                 <li><a href="#" th:href="@{/costocapacitaciones/report/}">Reporte comites</a></li>-->
                                        </ul>
				</li>
				
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar asistencias Capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/asistenciacapacitaciones/}">Consultar Asistencia de Capacitacion</a></li>
                                                 <li><a href="#" th:href="@{/asistenciacapacitaciones/new/asistenciacapacitacion}">Crear Asistencia Capacitacion</a></li>
<!--                                                 <li><a href="#" th:href="@{/asistenciacapacitaciones/report/}">Asistencia Capacitaciones</a></li>-->
					</ul>
				</li>
                                                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Comites <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/comites/}">Consultar comites</a></li>
                                                 <li><a href="#" th:href="@{/comites/new/comite}">Crear comite</a></li>
                                                 <li><a href="#" th:href="@{/comites/report/}">Reporte comites</a></li>
                                        </ul>
				</li>
                                 <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Niveles Escolares  <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                                            <span class="glyphicon glyphicon-education"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
					
                                
                                <li><a href="#" th:href="@{/nivelescolaridades/}">Niveles escolares</a></li>
                                <li><a href="#" th:href="@{/nivelescolaridades/new/nivelescolaridad}">Crear Nivel escolar</a></li>
					</ul>
				</li>
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Incapacidades <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
                                
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Comisiones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
                                                <li><a href="#" th:href="@{/comisiones/}">Consultar Comisiones</a></li>
                                                <li><a href="#" th:href="@{/comisiones/new/comision}">Crear Comisiones</a></li>
                                                <li><a href="#" th:href="@{/comisiones/reporte/comision}">Reporte de Comisiones</a></li>
					</ul>
				</li>
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Puestos <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/puestos/}">Consultar Puestos</a></li>
                                                <li><a href="#" th:href="@{/puestos/new/puesto}">Crear Puesto</a></li>
                                                <li><a href="#" th:href="@{/puestos/reporte/puesto}">Reporte Puestos a Caducar</a></li>
					</ul>
				</li>
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Empleados <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
                                
                                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar Misiones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
                                
                                
                                
                               
                                
                                  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Estados<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/estados/}">Consultar Estados</a></li>
                                                <li><a href="#" th:href="@{/estados/new/estado}">Crear Estado</a></li>
                                                
                                                  
					</ul>
				</li>
                                  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#" th:href="@{/otherreports/abogados}">Reporte de Abogados</a></li>
						<li><a href="#" th:href="@{/otherreports/empleadoincapacidad}">Reporte de Empleados con incapacidad</a></li>
						<li><a href="#" th:href="@{/otherreports/hijoscapesp}">Reporte de empleados con hijos con capacidades especiales</a></li>
						<li><a href="#" th:href="@{/otherreports/historial}">Reporte de Historial Laboral</a></li>
						<li><a href="#" th:href="@{/otherreports/motoristas}">Reporte de Motoristas</a></li>
						<li><a href="#" th:href="@{/otherreports/notarios}">Reporte de Notarios</a></li>
						<li><a href="#" th:href="@{/otherreports/renuncias}">Reporte de renuncias</a></li>
                                                <li><a href="#" th:href="@{/otherreports/comites/}">Reporte de comites</a></li>
                                                <li><a href="#" th:href="@{/otherreports/capacitaciones/}">Reporte de capacitaciones</a></li>
                                                <li><a href="#" th:href="@{/otherreports/cumpleanieros/}">Reporte de cumpleanieros</a></li>
                                                <li><a href="#" th:href="@{/otherreports/constanciaservicios/}">Constancia de Servicios</a></li>
                                                <li><a href="#" th:href="@{/otherreports/misionesinternas/}">Reporte de Misiones Internas</a></li>
                                                <li><a href="#" th:href="@{/otherreports/1misionesexternas/}">Reporte de Misiones externa1</a></li>
                                                 <li><a href="#" th:href="@{/otherreports/2misionesexternas/}">Reporte de Misiones externa2</a></li>
                                                    <li><a href="#" th:href="@{/otherreports/constanciasalariales/}">constancias salariales</a></li>
                                                
                                                
                                                  
					</ul>
				</li>
                                
                                  <li class="dropdown">
					 <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Cerrar Session</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="main">
<!-- Content Here -->
</div>
                
                
                
            </div>
        <!--</div>-->


     


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

       
    </body>
</html>
