<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Costo de Capacitaciones</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
    

         
            
    <div th:if="${not #lists.isEmpty(costocapacitaciones)}">
   <div class="row">
                <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
                <div class="col-md-9">
                       <br><br>
          <div class="row text-center">
                        <img src="../../static/image/costos.png" width="150" th:src="@{/image/costos.png}"/>
                         </div>
        <h3 align="center">Listado de costos de Capacitaciones</h3>
        <table class="table table-striped">
            <tr>
                <th>Codigo de costo de Capacitacion</th>
                <th>Costo Persona</th>
                <th>Numero de Personas</th>
                <th>Costo de Capacitador</th>
                <th>Nombre Capacitación</th>
                
                <th>Acciones</th>
                
            </tr>
            <tr th:each="costocapacitacion : ${costocapacitaciones}">
                <td align="center" th:text="${costocapacitacion.codigocostocapacitacion}">Codigo Capacitacion</td>
                <td align="center" th:text="${costocapacitacion.costopersona}">Costo Persona</td>
                <td align="center" th:text="${costocapacitacion.numeropersona}">Numero de Personas</td>
               <td  align="center" th:text="${costocapacitacion.costocapacitador}">Costo de Capactador</td>
               <!--imprimo el nombre de la capacitaion de la tabla capacitacion-->
                <td  th:text="${costocapacitacion.codigocapacitacion.nombrecapacitacion}">Codigo Capacitacion</td>
<!--               <td  th:text="${costocapacitacion.codigocapacitacion}">Codigo Capacitacion</td>-->
               
                
                
                <td>
                     <!--<a th:href="${'./new/costocapacitacion'}" class="btn btn-primary">Nuevo</a>-->
                    <a th:href="${'./show/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-info">Mostrar</a>
                <a th:href="${'./edit/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-success">Edit</a>
               <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${costocapacitacion.codigocostocapacitacion} + '\');'" >Delete</a></td>
                <!--<a th:href="${'./delete/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-danger">Delete</a></td>-->
            </tr>
        </table>
    </div>
</div>
    <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../costocapacitaciones/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
<script>
    $(document).ready(function () {
        $('#fechapresentacion').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        
        
    });
</script>
  
     <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../costocapacitaciones/';
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
</body>
</html>