<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Costo de Capacitaciones</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
<div class="container">
   
    <div th:if="${not #lists.isEmpty(costocapacitaciones)}">
        <h3 align="center">Listado de costos de Capacitaciones</h3>
        <table class="table table-striped">
            <tr>
                <th>Codigo de costo de Capacitacion</th>
                <th>Costo Persona</th>
                <th>Numero de Personas</th>
                <th>Costo de Capacitador</th>
<!--                <th>Codigo Capacitacion</th>-->
                
                <th>Acciones</th>
                
            </tr>
            <tr th:each="costocapacitacion : ${costocapacitaciones}">
                <td align="center" th:text="${costocapacitacion.codigocostocapacitacion}">Codigo Capacitacion</td>
                <td align="center" th:text="${costocapacitacion.costopersona}">Costo Persona</td>
                <td align="center" th:text="${costocapacitacion.numeropersona}">Numero de Personas</td>
               <td  align="center" th:text="${costocapacitacion.costocapacitador}">Costo de Capactador</td>
<!--               <td  th:text="${costocapacitacion.codigocapacitacion}">Codigo Capacitacion</td>-->
               
                
                
                <td><a th:href="${'./show/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-default">Mostrar</a>
                <a th:href="${'./edit/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-default">Edit</a>
                <a th:href="${'./delete/' + costocapacitacion.codigocostocapacitacion}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>