<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>SISADMRH</title>
    <th:block th:include="../templates/header"></th:block>



</head>
<body>
 <div class="row">
       <div class="col-md-3">
         <th:block th:include="../templates/menu"></th:block>
    </div> 
      <div class="col-md-8">
        <h3 align="center">Datos de Cuadros Directivos</h3>
        <div>
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">código</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${cuadrodirectivo.codigocuadrodirectivo}">cuadro Id</p></div>
                </div>
<!--                <div class="form-group">
                    <label class="col-sm-2 control-label">Responsable:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${cuadrodirectivo.responsablecuadrodirectivo}">Responsable</p>
                    </div>
                </div>-->
 <div class="form-group">
                                    <label class="col-sm-2 control-label">Responsable</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" th:text="${cuadrodirectivo.codigoempleado.nombreempleado}">Codigo Empleado</p>
                                         <!--<p class="form-control-static" th:text="${capacitador.codigoempleado.codigoempleado}">Codigo Empleado</p>-->
                                    </div>
                                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">area:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${cuadrodirectivo.area}">Area</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripcion:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${cuadrodirectivo.desripcioncuadrodirectivo}">Descripción</p>
                    </div>
                </div>
                
               
              

                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha de Presentación:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${#calendars.format(cuadrodirectivo.fechapresentacion, 'dd-MMM-yyyy')}">Valor de estado</p>
                    </div>
                </div>
                    <!--jala los empleados-->
                

            </form>
            <div class="col-md-12">
                    <div class="row" align="center">
                        <button type="button" class="btn btn-default"><a href="#" th:href="@{/cuadrodirectivos/}">Regresar</a></button>

                    </div>
                </div>
        </div>
    </div>
      <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
 </div>

</body>
</html>