<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
     <th:block th:include="../templates/header"></th:block>
    <title>Capacitaciones</title>
   
     
    
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
    <div th:if="${not #lists.isEmpty(capacitaciones)}">
        
       <div class="row">
        
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
           <h3 align="center">Listado de Capacitaciones</h3>
      
        <table class="table table-striped">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Descripción Categoría</th>
                <th>Departamento Responsable</th>
                <th>Nº horas</th>
                <th>Nº Días</th>
                <th>Patrocinador</th>
                <th>Tipo de Evento</th>
                <th>Especialidad</th>
                <th>País Capacitación</th>
                <th>Fecha Capacitación Desde</th>
                <th>Fecha Capacitación Hasta</th>
                <th>Tipo Capacitación</th>
                <th>Estado Capacitación</th>
                <th>Nombre Capacitador</th>
               <th>Acciones</th>
                
            </tr>
            <tr th:each="capacitacion : ${capacitaciones}">
                <td th:text="${capacitacion.codigocapacitacion}">Codigo</td>
                <td th:text="${capacitacion.nombrecapacitacion}">Nombre</td>
                <td th:text="${capacitacion.descripcioncapacitacion}">Descripcion</td>
                <td th:text="${capacitacion.categoriacapacitacion}">Categoria</td>
                <td th:text="${capacitacion.descripcioncategoria}">Descripcion Cat</td>
                <td th:text="${capacitacion.departamentoresponsable}">Departamento Res</td>
                <td th:text="${capacitacion.duracionhoracapacitacion}">N horas</td>
                <td th:text="${capacitacion.duraciondiacapacitacion}">N Dias</td>
                <td th:text="${capacitacion.organismopatrocinador}">Patrocinador</td>
                <td th:text="${capacitacion.tipoevento}">Tipo Evento</td>
                <td th:text="${capacitacion.especialidadevento}">Especialidad</td>
                <td th:text="${capacitacion.paiscapacitacion}">Pais Capacitacion</td>
                <td th:text="${capacitacion.fechacapacitaciondesde}">Fecha Capacitacion Desde</td>
                <td th:text="${capacitacion.fechacapacitacionhasta}">Fecha Capacitacion Hasta</td>
                <td th:text="${capacitacion.tipocapacitacion}">Tipo Capacitacion</td>
                <td th:text="${capacitacion.estadocapacitacion}">Estado Capacitacion</td>
                <td th:text="${capacitacion.codigocapacitador.nombrecapacitador}">Nombre Capacitador</td>
                
                <td>
                     <a th:href="${'./new/capacitacion'}" class="btn btn-primary">Nuevo</a>
                    <a th:href="${'./show/' + capacitacion.codigocapacitacion}" class="btn btn-info">Mostrar</a>
                <a th:href="${'./edit/' + capacitacion.codigocapacitacion}" class="btn btn-success">Editar</a>
                 <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${capacitacion.codigocapacitacion} + '\');'" >Eliminar</a>
               <!--<td><a th:href="${'./delete/' + capacitacion.codigocapacitacion}" class="btn btn-danger">Delete</a></td>-->
                    <!--<td><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${capacitacion.codigocapacitacion} + '\');'" >Delete</a></td>-->  
                </td>
            </tr>
        </table>
            
        </div>
            <div class="col-md-12">
                    <th:block th:include="../templates/footer"></th:block>
                </div>
    </div>  
    </div>
   
   
   
     <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../capacitaciones/';
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
</body>
</html>