<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>SISADMRH-Detalle de capacitaciones</title>
    <th:block th:include="../templates/header"></th:block>



</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <h3 align="center">Consulta de Datos de Capacitaciones</h3>
            <div>
                <form class="form-horizontal">
                  
                        <div class="form-group">
                            <label class="col-sm-5 control-label">código:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.codigocapacitacion}">codigo de capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Nombre de capacitación:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.nombrecapacitacion}">Nombre de capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Descripción Capacitación:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.descripcioncapacitacion}">Descripcion Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Categoría Capacitación:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.categoriacapacitacion}">Categoría Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Desripcion Categoría:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.descripcioncategoria}">Descripción Categoría</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Departametno Responsable:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.departamentoresponsable}">Departamento Responsable</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Duración Capacitación en Horas:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.duracionhoracapacitacion}">Duración Capacitación en Horas</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Duración Capacitación en Días:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.duraciondiacapacitacion}">Duración Capacitación en Días </p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-5 control-label">Organismo Patrocinador:</label>
                            <div class="col-sm-7">
                                <p class="" th:text="${capacitacion.organismopatrocinador}">Organismo Patrocinador</p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-5 control-label">Tipo de Evento:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.tipoevento}">Tipo de Evento</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Especialidad del Evento:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.especialidadevento}">Especialidad del evento</p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-5 control-label">País donde se Desarrolla la Capacitación:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.paiscapacitacion}">País donde se Desarrolla la Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Fecha de Capacitación Desde:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${#calendars.format(capacitacion.fechacapacitaciondesde, 'dd/MM/yyyy')}">Fecha de Capacitación</p>
                            </div>
                        </div>
                    <div class="form-group">
                            <label class="col-sm-5 control-label">Fecha de Capacitación Hasta:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${#calendars.format(capacitacion.fechacapacitacionhasta, 'dd/MM/yyyy')}">Fecha de Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Tipo de Capacitación:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.tipocapacitacion}">Tipo de Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Estado de Capacitación:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.estadocapacitacion}">Estado de Capacitación</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Código de Capacitador:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${capacitacion.codigocapacitador.codigoempleado.nombreempleado}">Nombre de Capacitador</p>
                            </div>
                        </div>
                 


                </form>
                <div class="col-md-12">
                    <div class="row" align="center">
                         <button type="button" class="btn btn-info"><a href="#" th:href="@{/capacitaciones/}">Regresar</a></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
</body>
</html>