<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
     <th:block th:include="../templates/header"></th:block>
    <title>Capacitaciones</title>
   
     
    
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
    <div th:if="${not #lists.isEmpty(incapacidades)}">
        
       <div class="row">
        
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
           <h3 align="center">Listado de Incapacidades</h3>
      
        <table class="table table-striped">
               <tr>
                             <th>Codigo Incapacidad</th>
                              <th>Nombre Incapacitado</th>
                            <th>Numero Formulario ISSS</th>
                            <th>DUI</th>
                             <th>Numero IISSS</th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Tipo de Incapacidad</th>
                            <th>Forma Incapacidad</th>
                            <th>Fondo</th>
                            <th>Diagnostico</th>
<!--                            <th>Diagnostico</th>-->
<!--                            <th>Subir Formulario</th>
                            <th>Subir Documento</th>-->
                              <th>Acciones</th>

                        </tr>
            <tr th:each="incapacidad : ${incapacidades}">
                <!--<td th:text="${incapacidad.codigoempleado.nombreempleado}">Codigo</td>-->
                 <td th:text="${incapacidad.codigoincapacidad}">Codigo</td>
                            <td th:text="${incapacidad.codigoempleado.nombreempleado}">Nombre de Incapacidad</td>
                            <td th:text="${incapacidad.numerofichaisss}">Numero Fomulario</td>
                            <td th:text="${incapacidad.dui}">DUI</td>
                          
                            <td th:text="${incapacidad.isss}">Numero ISSS</td>
                             <td th:text="${#calendars.format(incapacidad.fechadesdeincapacidad, 'dd/MM/yyyy')}">Fecha Desde</td>
                             <td th:text="${#calendars.format(incapacidad.fechahastaincapacidad, 'dd/MM/yyyy')}">Fecha Hasta</td>
                            <!--<td th:text="${incapacidad.fechadesdeincapacidad}">Fecha Desde</td>-->
                            <!--<td th:text="${incapacidad.fechahastaincapacidad}">Fecha Hasta</td>-->
                            <td th:text="${incapacidad.tipoincapacidad}">Tipo Incapacidad</td>
                            <td th:text="${incapacidad.formaincapacidad}">Forma Incapacidad</td>
                            <td th:text="${incapacidad.fondoincapacidad}">Fondo</td>
                             <td th:text="${incapacidad.diagnostico}">Diagnostico</td>
<!--                              <td th:text="${incapacidad.documento1}">Formulario</td>
                               <td th:text="${incapacidad.documento2}">Documento Dos</td>
                              <td th:text="${codigoempleado.codigoempleado}">fechahastacomite</td>-->

                <td>
                    <a th:href="${'./show/' + incapacidad.codigoincapacidad}" class="btn btn-info">Mostrar</a>
                <a th:href="${'./edit/' +incapacidad.codigoincapacidad}" class="btn btn-primary">Edit</a>
                 <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${incapacidad.codigoincapacidad} + '\');'" >Eliminar</a>
               <!--<td><a th:href="${'./delete/' + capacitacion.codigocapacitacion}" class="btn btn-danger">Delete</a></td>-->
                    <!--<td><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${capacitacion.codigocapacitacion} + '\');'" >Delete</a></td>-->  
                </td>
            </tr>
        </table>
            
        </div>
            <div class="col-md-12">
                    <th:block th:include="../templates/footer"></th:block>
                </div>
    </div>  
    </div>
   
   
   
     <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../incapacidades/';
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
     <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../incapacidades/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script>  
</body>
</html>