<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Comites</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
    
<!--<div class="container">-->
<div th:if="${not #lists.isEmpty(comites)}">
            <div class="row">
                <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
                <div class="col-md-9">
                          <br><br>
          <div class="row text-center">
                        <img src="../../static/image/roles.png" width="150" th:src="@{/image/roles.png}"/>
                    <h3 align="center">Listado de Comites</h3>
                    <table class="table table-striped">
                        <tr>
                             <th>Código</th>
                            <th>Nombre</th>
                            <th>Responsable</th>
                            <th>Descripcion</th>
                            <th>Nº de Acuerdo</th>
                            <th>Miembros maximos</th>
                            <th>F. desde</th>
                            <th>F. hasta</th>
                            
                            <th>Acciones</th>

                        </tr>
                        <tr th:each="comite : ${comites}">
                            <td th:text="${comite.codigocomite}">Codigo</td>
                            <td th:text="${comite.nombrecomite}">Nombre</td>
<!--                            <td th:text="${comite.dui}">DUI</td>
                            <td th:text="${comite.nit}">NIT</td>-->
                            <td th:text="${comite.codigoempleado.nombreempleado}">Responsable</td>
                            <td th:text="${comite.desripcioncomite}">Descripcion</td>
                            <td th:text="${comite.numeroacuerdocomite}">Numero acuerdo</td>
                            <td th:text="${comite.miembromaximo}">Miembro maximo</td>
                            <td th:text="${comite.fechadesdecomite}">F. desde</td>
                            <td th:text="${comite.fechahastacomite}">fechahastacomite</td>
<!--                              <td th:text="${codigoempleado.codigoempleado}">fechahastacomite</td>-->

                            <td>
                                 <!--<a th:href="${'./new/comite'}" class="btn btn-primary">Nuevo</a>-->
                                <a th:href="${'./show/' + comite.codigocomite}" class="btn btn-info">Mostrar</a>
                           <a th:href="${'./edit/' + comite.codigocomite}" class="btn btn-success">Editar</a>
                                <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${comite.codigocomite} + '\');'" >Eliminar</a>
                            </td>
                           
                            <!--<a th:href="${'./delete/' + comite.codigocomite}" class="btn btn-danger">Delete</a></td>-->
                        </tr>
                    </table>
                  
                </div>
                 <!--<nav th:replace="paginator-nav :: paginator"></nav>-->
            </div>    
             <div class="col-md-12">
                    <th:block th:include="../templates/footer"></th:block>
                </div>   
    </div>
    
<!--</div>-->
 <script th:inline="javascript">
        $(document).ready(function () {
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../comites/';
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }
    });
        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "se ha cancelado la operaacion de eliminado", "error");
                        }
                    });
        }
    </script>
</body>
</html>