<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Asistencias Capacitaciones</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <div class="container">
        
        <div th:if="${not #lists.isEmpty(asistenciacapacitaciones)}">
            <h2>Todas las asistencias Capacitacion</h2>
            <table class="table table-striped">
                <tr>
                    <th>Codigo de Asistencia de Capacitacion</th>
                    <th>Horas Recibidas</th>
                    <th>Ubicacion Asistentes Capacitacion</th>
                    <th>Capacitacion</th>
                    <th>Acciones</th>

                </tr>
                <tr th:each="asistenciacapacitacion : ${asistenciacapacitaciones}">
                    <td th:text="${asistenciacapacitacion.codigoasistenciacapacitacion}">Codigo</td>
                    <td th:text="${asistenciacapacitacion.horasrecibidas}">Horas Recibidas</td>
                    <td th:text="${asistenciacapacitacion.ubicacionasistenciacapacitacion}">Ubicacion de Capacitacion</td>
                    <td th:text="${asistenciacapacitacion.codigocapacitacion.nombrecapacitacion}">Capacitacion</td>


                    <td>
                        <a th:href="${'./show/' + asistenciacapacitacion.codigoasistenciacapacitacion}" class="btn btn-default">Mostrar</a>
                        <a th:href="${'./edit/' + asistenciacapacitacion.codigoasistenciacapacitacion}" class="btn btn-default">Edit</a>
                        <a th:href="${'./delete/' + asistenciacapacitacion.codigoasistenciacapacitacion}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>